# npm configuration
node_modules/
package-lock.json

# database configuration
src/project/main/config/connection/connection-homologation.ts
src/project/main/config/connection/connection-production.ts

# env files
.env